@mixin flexible_column(){
  display: flex;
  flex-direction: column;
  align-items: center;
	justify-content: center;
}
@mixin flexible_row(){
  display: flex;
  flex-direction: row;
  align-items: center;
	justify-content: center;
}
@mixin font(){
	font-family: 'Roboto Mono';
	font-style: normal;
	text-align: center;
}
